<div class="container mt-5">
  <h1>Reset Password</h1>
  <form [formGroup]="resetPasswordForm" (ngSubmit)="submit()">
    <!-- code -->
    <div class="mb-3">
      <label for="code">code</label>
      <input type="text" id="code" class="form-control" formControlName="code" placeholder="Enter code" />
      <div class="alert alert-warning" [hidden]="code?.valid || code?.untouched">
        <div *ngIf="code?.errors?.['required']">Email is required.</div>
        <div *ngIf="code?.errors?.['maxlength']">The Code maxlength must be 6</div>
        <div *ngIf="code?.errors?.['minlength']">The Code maxlength must be 6</div>
        <div *ngIf="code?.errors?.['backend']">{{ code?.errors?.['backend'] }}</div>
      </div>
    </div>

    <!-- Password -->
    <div class="mb-3">
      <label for="newPassword">newPassword</label>
      <input type="password" id="newPassword" class="form-control" formControlName="newPassword"
        placeholder="Enter Password" />
      <div class="alert alert-warning" [hidden]="newPassword?.valid || newPassword?.untouched">
        <div *ngIf="newPassword?.errors?.['required']">Password is required.</div>
        <div *ngIf="newPassword?.errors?.['pattern']">
          Password must be at least 8 characters long and contain at least one uppercase letter,
          one lowercase letter, one digit, and one special character.
        </div>
        <div *ngIf="newPassword?.errors?.['backend']">{{ newPassword?.errors?.['backend'] }}</div>
      </div>
    </div>

    <button [disabled]="resetPasswordForm.invalid" type="submit" class="btn btn-primary">
      Submit
    </button>
  </form>
</div>
