<div class="m-4">
  <form [formGroup]="employeeFrom" class="row g-3">

    <!-- الاسم -->
    <div class="col-md-6">
      <label for="name" class="form-label">الاسم</label>
      <input id="name" type="text" class="form-control" formControlName="name" placeholder="أدخل اسم الموظف" />
      <div class="text-danger mt-1" *ngIf="employeeFrom.get('name')?.invalid && employeeFrom.get('name')?.touched">
        الاسم مطلوب
      </div>
    </div>

    <!-- الرقم القومي / التعريفي -->
    <div class="col-md-6">
      <label for="identifierNumber" class="form-label">الرقم التعريفي</label>
      <input id="identifierNumber" type="text" class="form-control" formControlName="identifierNumber"
        placeholder="أدخل الرقم التعريفي" />
      <div class="text-danger mt-1"
        *ngIf="employeeFrom.get('identifierNumber')?.invalid && employeeFrom.get('identifierNumber')?.touched">
        الرقم التعريفي مطلوب
      </div>
    </div>

    <!-- البريد الإلكتروني -->
    <div class="col-md-6">
      <label for="email" class="form-label">البريد الإلكتروني</label>
      <input id="email" type="email" class="form-control" formControlName="email" placeholder="example@email.com" />
      <div class="text-danger mt-1" *ngIf="employeeFrom.get('email')?.invalid && employeeFrom.get('email')?.touched">
        البريد الإلكتروني غير صالح أو مطلوب
      </div>
    </div>

    <!-- كلمة المرور -->
    <div class="col-md-6">
      <label for="password" class="form-label">كلمة المرور</label>
      <input id="password" type="password" class="form-control" formControlName="password" placeholder="********" />
      <div class="text-danger mt-1"
        *ngIf="employeeFrom.get('password')?.invalid && employeeFrom.get('password')?.touched">
        كلمة المرور مطلوبة
      </div>
    </div>

    <!-- رقم الهاتف -->
    <div class="col-md-6">
      <label for="phoneNumber" class="form-label">رقم الهاتف</label>
      <input id="phoneNumber" type="text" class="form-control" formControlName="phoneNumber"
        placeholder="مثال: 01012345678" />
      <div class="text-danger mt-1"
        *ngIf="employeeFrom.get('phoneNumber')?.invalid && employeeFrom.get('phoneNumber')?.touched">
        رقم الهاتف مطلوب
      </div>
    </div>
    <hr>
    <div class="d-flex justify-content-end">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">إلغاء</button>
      <button type="button" class="btn btn-primary" [disabled]="employeeFrom.invalid" (click)="onSubmit()">
        {{ data.employeeId ? 'تحديث' : 'حفظ' }}
      </button>
    </div>
  </form>
</div>
