<div class="container mt-5">
  <h1>Login</h1>
  <form [formGroup]="userLoginForm" (ngSubmit)="submit()">
    <!-- Email -->
    <div class="mb-3">
      <label for="email">Email</label>
      <input type="email" id="email" class="form-control" formControlName="email" placeholder="Enter Email" />
      <div class="alert alert-warning" [hidden]="email?.valid || email?.untouched">
        <div *ngIf="email?.errors?.['required']">Email is required.</div>
        <div *ngIf="email?.errors?.['email']">Invalid email format.</div>
        <div *ngIf="email?.errors?.['backend']">{{ email?.errors?.['backend'] }}</div>
      </div>
    </div>

    <!-- Password -->
    <div class="mb-3">
      <label for="password">Password</label>
      <input type="password" id="password" class="form-control" formControlName="password"
        placeholder="Enter Password" />
      <div class="alert alert-warning" [hidden]="password?.valid || password?.untouched">
        <div *ngIf="password?.errors?.['required']">Password is required.</div>
        <div *ngIf="password?.errors?.['pattern']">
          Password must be at least 8 characters long and contain at least one uppercase letter,
          one lowercase letter, one digit, and one special character.
        </div>
        <div *ngIf="password?.errors?.['backend']">{{ password?.errors?.['backend'] }}</div>
      </div>
    </div>

    <button [disabled]="userLoginForm.invalid" type="submit" class="btn btn-primary">
      Submit
    </button>
    <span>Do Not Have An Account? <a routerLink="/auth/register">Register</a></span>
    <br>
    <span><a routerLink="/auth/register"routerLink="/auth/forgetPassword" >Forget Password</a></span>
  </form>
</div>
