<div>
  <div class="text-start mb-3">
    <button class="btn btn-dark" (click)="handleOpenDialog(0)">انشاء</button>
  </div>
  <div class="table-responsive">
    <table class="table table-striped table-hover align-middle text-center">
      <thead class="table-dark">
        <tr>
          <th class="col-1">#</th>
          <th class="col-11">كود</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let activeCode of activatedCodes; let i = index">
          <td>{{ i + 1 }}</td>
          <td>
            {{ activeCode.code }}
          </td>
          <td>
            <div class="dropdown position-static">
              <button
                class="btn btn-sm btn-primary"
                type="button"
                id="dropdownMenuButton{{ i }}"
                data-bs-toggle="dropdown"
                aria-expanded="false">
                <i class="fa-solid fa-gear"></i>
              </button>
              <ul class="dropdown-menu" [attr.aria-labelledby]="'dropdownMenuButton' + i">
                <li>
                  <button class="dropdown-item text-primary" (click)="handleOpenDialog(activeCode.id)">
                    تعديل
                  </button>
                </li>
                <li>
                  <button class="dropdown-item text-danger" (click)="handleDeleteCode(activeCode.id)">
                    حذف
                  </button>
                </li>
              </ul>
            </div>
          </td>
        </tr>

        <!-- في حالة عدم وجود بيانات -->
        <tr *ngIf="activatedCodes.length === 0">
          <td colspan="3" class="text-muted py-4">
            لا توجد أكواد مفعّلة حاليًا
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
