<div class="table-responsive border overflow-hidden bg-white">
  <table class="table table-hover align-middle mb-0 text-center">
    <thead class="table-dark">
      <tr>
        <th class="col-1">#</th>
        <th class="col-11">الكود</th>
        <th class=""></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pos of pointOfSales; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{pos.posSerial}}</td>
        <td>
          <div class="btn-group gap-1" role="group" aria-label="Actions group">
            <button (click)="openPointOfSaleDialogListner.emit(pos.id)" class="btn btn-sm btn-outline-primary rounded-2">
              <i class="fa-solid fa-pen"></i>
            </button>

            <button type="button" (click)="removePointOfSale(pos.id)" class="btn btn-sm btn-outline-danger rounded-2">
              <i class="fa-solid fa-trash"></i>
            </button>
          </div>
        </td>
      </tr>
      <tr *ngIf="pointOfSales.length === 0">
        <td colspan="4" class="text-center text-muted py-3">لا توجد نقاط بيع بعد</td>
      </tr>
    </tbody>
  </table>
</div>
