<div>
  <!-- الفلتر -->
  <div class="d-flex justify-content-between align-items-center">
    <div class="form-group mb-4">
      <label class="form-label fw-bold" for="deletedFilter">عرض المحذوف</label>
      <select id="deletedFilter" class="form-select w-auto ms-2" [(ngModel)]="showDeleted"
        (change)="handleChangeDeletedFilter()">
        <option [ngValue]="true">نعم</option>
        <option [ngValue]="false">لا</option>
      </select>
    </div>
      <button (click)="openDialog(0)" class="btn btn-dark">اضافة</button>
  </div>
  <!-- الجدول -->
  <div class="table-responsive">
    <table class="table table-hover table-striped align-middle text-center">
      <thead class="table-dark">
        <tr>
          <th class="col-1">#</th>
          <th class="col-8">الاسم</th>
          <th class="col-3">محذوف</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let role of roles; let i = index">
          <td>{{ i + 1 }}</td>
          <td>
            {{ role.name }}
          </td>
          <td>
            <span class="badge fs-6" [ngClass]="role.isDeleted ? 'bg-danger' : 'bg-success'">
              {{ role.isDeleted ? 'نعم' : 'لا' }}
            </span>
          </td>
          <td>
            <div class="dropdown position-static">
              <button class="btn btn-sm btn-primary" type="button" id="optionMenuButton{{ i }}"
                data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-gear"></i>
              </button>
              <ul class="dropdown-menu">
                <li>
                  <button class="dropdown-item text-danger" type="button" (click)="openDialog(role.id)">تعديل</button>
                </li>
                <li *ngIf="!role.isDeleted">
                  <button class="dropdown-item text-danger" type="button" (click)="toggleState(role.id)">
                    حذف
                  </button>
                </li>
                <li *ngIf="role.isDeleted">
                  <button class="dropdown-item text-danger" type="button" (click)="toggleState(role.id)">
                    استرجاع
                  </button>
                </li>
              </ul>
            </div>
          </td>
        </tr>

        <!-- لو مفيش داتا -->
        <tr *ngIf="roles.length === 0">
          <td colspan="4" class="text-muted py-4">لا توجد بيانات</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
