<div class="table-responsive border overflow-hidden bg-white">
  <table class="table table-hover align-middle mb-0 text-center">
    <thead class="table-dark">
      <tr>
        <th class="col-1">#</th>
        <th class="col-2">الاسم</th>
        <th class="col-4">المعرف</th>
        <th class="col-5">ايميل</th>
        <th class=""></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let emp of employees; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{emp.name}}</td>
        <td>{{emp.identifierNumber}}</td>
        <td>{{emp.email}}</td>
        <td>
          <button type="button" class="btn btn-outline-danger btn-sm">
            <i class="fa-solid fa-trash"></i>
          </button>
        </td>
      </tr>
      <tr *ngIf="employees.length === 0">
        <td colspan="4" class="text-center text-muted py-3">لا يوجد موظفين بعد</td>
      </tr>
    </tbody>
  </table>
</div>
