<div>
  <div class="text-start mb-3">
    <button class="btn btn-dark" (click)="openCompanyDialog()">انشاء</button>
  </div>
  <div class="table-responsive">
    <table class="table table-hover table-striped align-middle text-center">
      <thead class="table-dark">
        <tr>
          <th class="col-1">#</th>
          <th class="col-6">الاسم</th>
          <th class="col-5">رقم التسجيل الضريبي</th>
          <th class=""></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of companies; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ c.name }}</td>
          <td>{{ c.rin }}</td>
          <td>
            <div class="btn-group gap-1" role="group" aria-label="Actions group">
              <a [routerLink]="['./', c.id]" class="btn btn-sm btn-outline-primary rounded-2">
                <i class="fa-solid fa-pen"></i>
              </a>

              <button type="button" class="btn btn-sm btn-outline-danger rounded-2">
                <i class="fa-solid fa-trash"></i>
              </button>
            </div>
          </td>


        </tr>

        <tr *ngIf="companies.length === 0">
          <td colspan="4" class="text-muted py-4">لا توجد بيانات</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
