<div class="m-5">
  <a routerLink="/company/mainform">Add New</a>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">TaxNumber</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let company of companies;let i=index">
      <th scope="row">{{i+1}}</th>
      <td >{{company.id}}</td>
      <td>{{company.name}}</td>
      <td>{{company.taxRegistrationNumber}}</td>
      <td><a [routerLink]="['/company/mainform',company.id]">Update</a></td>
      <td><a [routerLink]="['/company/details',company.id]">details</a></td>
      <td><a [routerLink]="['/company/delete',company.id]">Delete</a></td>
    </tr>
  </tbody>

</table>
</div>




