<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="card shadow-lg border-0 rounded-4 p-4" style="width: 500px;">
    <div class="card-body">
      <h3 class="card-title text-center mb-4 fw-bold" style="color:var(--blue-color)">
        لوحة تسجيل الدخول
      </h3>
      <form [formGroup]="loginForm" (ngSubmit)="handleSubmitClick()">

        <div class="mb-3">
          <label for="uEmail" class="form-label">الإيميل</label>
          <input type="email" id="uEmail" class="form-control" [class.is-valid]="email?.valid && email?.touched"
            [class.is-invalid]="email?.invalid && email?.touched" formControlName="email">
          <div *ngIf="email?.touched && email?.errors" class="text-danger small mt-1">
            <span *ngIf="email?.errors?.['required']">الإيميل مطلوب</span>
            <span *ngIf="email?.errors?.['email']">أدخل إيميل صحيح</span>
          </div>
        </div>

        <div class="mb-3">
          <label for="uPassword" class="form-label">كلمة المرور</label>
          <input type="password" id="uPassword" class="form-control"
            [class.is-valid]="password?.valid && password?.touched"
            [class.is-invalid]="password?.invalid && password?.touched" formControlName="password">
          <div *ngIf="password?.touched && password?.errors" class="text-danger small mt-1">
            <span *ngIf="password?.errors?.['required']">كلمة المرور مطلوبة</span>
            <span *ngIf="password?.errors?.['minlength']">كلمة المرور قصيرة</span>
          </div>
        </div>
        <br>
        <button class="btn btn-primary w-100 py-2 fw-semibold">
          <i class="bi bi-box-arrow-in-right me-2"></i> تسجيل الدخول
        </button>
      </form>
    </div>
</div>
