
<div class="container mt-5">
<form [formGroup]="otpFrom" (ngSubmit)="submit()">
  <div class="mb-3">
    <div class="form-group">
      <label for="code">code</label>
      <input type="text" class="form-control" id="code" placeholder="Enter code" formControlName="code">
    </div>
    <div class="alert alert-warning" [hidden]="code?.valid || code?.untouched">
      <div *ngIf="code?.errors?.['required']">The Code Is required</div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>


