
<div class="container mt-5">
<form [formGroup]="otpForm" (ngSubmit)="submit()">
  <div class="mb-3">
    <div class="form-group">
      <label for="code">code</label>
      <input type="text" class="form-control" id="code" placeholder="Enter code" formControlName="code">
    </div>
    <div class="alert alert-warning" [hidden]="code?.valid || code?.untouched">
      <div *ngIf="code?.errors?.['required']">The Code Is required</div>
      <div *ngIf="code?.errors?.['maxlength']">The Code maxlength must be 6</div>
      <div *ngIf="code?.errors?.['minlength']">The Code maxlength must be 6</div>
      <div *ngIf="code?.errors?.['backend']">{{ code?.errors?.['backend'] }}</div>
    </div>
  </div>
  <button type="submit" [disabled]="otpForm.invalid" class="btn btn-primary">Submit</button>
  <span>Have not recive Any message? <a style="cursor: pointer;" (click)="resendOtp()">resend otp</a></span>
</form>
  <app-spinner></app-spinner>

</div>


